<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Junk</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>
<app-comp2></app-comp2>
  <div id="_templates">
  <script type="text/ng-template" id="app.component">
    <h1>
      {{title}}
    </h1>
  </script>

  <script type="text/ng-template" id="comp2.component">
    <button (click) = "getHero()" >Find User</button>

    <p>
      id: {{hero?.id}} title: {{hero?.title}}
    </p>

    <table >
      <thead>
      <th>Id</th>
      <th>Title</th>
      </thead>
      <tbody>
      <tr *ngFor="let hero of user.tail$(95) | async">
        <td>{{hero?.id}}</td>
        <td>{{hero?.title}}</td>
      </tr>
      </tbody>
    </table>

    <table >
      <thead>
      <th>Id</th>
      <th>Title</th>
      </thead>
      <tbody>
      <tr *ngFor="let hero of users$|async">
        <td>{{hero.id}}</td>
        <td>{{hero.title}}</td>
      </tr>
      </tbody>
    </table>

  </script>
  </div>
</body>
</body>
</body>
</html>
